
body{
    margin:0;
        padding:0;
        font-family: Arial, Helvetica, sans-serif;
        font-size:10px;
        color:grey;
        background-color:whitesmoke;
    }
    .pic{
        height:70px;
        width:70px;
    }
    .grid{
        display:grid;
        grid-template-columns: 50% 50%;
        background-color:white;
        margin:20px;
    }
    .left-grid, .right-grid{
        padding:10px;
    }
    profile{
        display:grid;
        grid-template-columns: 50% 50%;
        padding-right:30px;
    }
    .skill{
        height:15px;
        width:15px;
    }
    .container-1{
        border:none;
        height:6px;
        width:100%;
        background-color:lightblue;
    }
    .progress-1{
        border:none;
        height:6px;
        width:95%;
        background-color:royalblue;
    }
    .container-2{
        border:none;
        height:6px;
        width:100%;
        background-color:lightblue;
    }
    .progress-2{
        border:none;
        height:6px;
        width:90%;
        background-color:royalblue;
    }
    .container-3{
        border:none;
        height:6px;
        width:100%;
        background-color:lightblue;
    }
    .progress-3{
        border:none;
        height:6px;
        width:99%;
        background-color:royalblue;
    }
    .container-4{
        border:none;
        height:6px;
        width:100%;
        background-color:lightblue;
    }
    .progress-4{
        border:none;
        height:6px;
        width:93%;
        background-color:royalblue;
    }
    .one{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
     margin-top:10px;
    }
    h2{
        margin-top:10px;
        color:black;
    }
    right-profile{
        align-items: center;
        font-size:7px;
    }
    